// BASE SASS FILE - init global sass content

// Google Fonts Import : Poppins + League Spartan
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

// Default initialization
*{
  margin: 0;
  padding: 0;
  color: var(--color-white);
  ul{list-style: none;}
  a{text-decoration: none; color: white;}
  button:hover{cursor: pointer;}

//   border:1px solid red;

}

// Variables definitions
:root{
  --color-black: #1B1B1C;
  --color-white: white;
  --color-background: var(--color-black);

  --color-green: #1ED760;

  --font-title: 'Archivo Black', sans-serif;
  --font-content: 'Poppins', sans-serif;
  --radius: "10px";
}

// Main style definition, header and body disposition
body {
  background-color: var(--color-background);
  font-family: var(--font-content);
  color: var(--white);
}
.home{
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    h5{
        font-weight: 400;
        font-size: 18px;
        i{
            margin-left: 5px;  
        }
    }
    h1{
        font-family: var(--font-title);
        font-size: 50px;
    }
    img{
        height: 250px;
        z-index: 10;
        margin-top: -25px;
    }
    .bottom{
        width: 275px;
        margin-top: -10px;
        .space{
            width: 100%;
            height: 30px;
            background-color: white;
            border-radius: 10px;
        }
        .button-login{
            margin-top: 10px;
            display:flex;
            align-items: center;
            i{
                width: 30%;
                color: var(--color-green);
                font-size: 30px;
            }
        }
    }
}
.btn{
    background-color: var(--color-green);
    // padding: 3px 20px;
    padding-left: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    i{
        margin-left: 15px;
        margin-top: 4px;
        color: var(--color-black);

    }
}

// Individual elements style definition
